<a href="https://colab.research.google.com/github/mrarat76/Tensorflow_Practises/blob/main/libarat_simsek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install data-preprocessing-lib-byarat

Collecting data-preprocessing-lib-byarat
  Downloading data_preprocessing_lib_byarat-1.7.0-py3-none-any.whl (14 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.25.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.2.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (3.8.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (4.12.3)
Requirement already satisfied: contractions in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (0.1.73)
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.12.1)
Requirement already satisfied: pyspellchecker in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (0.8.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->data-preprocessing-lib-byarat) (2.5)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.10/dist-packages (from contractions->data-preprocessing-lib-byarat) (0.0.24)
Requirement already satisfied: typing-extensions>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from emoji->data-preprocessing-lib-byarat) (4.11.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2024.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (1.11.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->data-preprocessing-lib-byarat) (1.16.0)
Requirement already satisfied: anyascii in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat) (0.3.2)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat) (2.1.0)
Installing collected packages: data-preprocessing-lib-byarat
Successfully installed data-preprocessing-lib-byarat-1.7.0

In [2]:
!pip install --upgrade data-preprocessing-lib-byarat

Collecting data-preprocessing-lib-byarat
  Using cached data_preprocessing_lib_byarat-1.8.0-py3-none-any.whl (15 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.25.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.2.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (3.8.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (4.12.3)
Collecting contractions (from data-preprocessing-lib-byarat)
  Using cached contractions-0.1.73-py2.py3-none-any.whl (8.7 kB)
Collecting emoji (from data-preprocessing-lib-byarat)
  Using cached emoji-2.12.1-py3-none-any.whl (431 kB)
Collecting pyspellchecker (from data-preprocessing-lib-byarat)
  Using cached pyspellchecker-0.8.1-py3-none-any.whl (6.8 MB)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->data-preprocessing-lib-byarat) (2.5)
Collecting textsearch>=0.0.21 (from contractions->data-preprocessing-lib-byarat)
  Using cached textsearch-0.0.24-py2.py3-none-any.whl (7.6 kB)
Requirement already satisfied: typing-extensions>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from emoji->data-preprocessing-lib-byarat) (4.11.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2024.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (1.11.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->data-preprocessing-lib-byarat) (1.16.0)
Collecting anyascii (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat)
  Using cached anyascii-0.3.2-py3-none-any.whl (289 kB)
Collecting pyahocorasick (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat)
  Using cached pyahocorasick-2.1.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (110 kB)
Installing collected packages: pyspellchecker, pyahocorasick, emoji, anyascii, textsearch, contractions, data-preprocessing-lib-byarat
Successfully installed anyascii-0.3.2 contractions-0.1.73 data-preprocessing-lib-byarat-1.8.0 emoji-2.12.1 pyahocorasick-2.1.0 pyspellchecker-0.8.1 textsearch-0.0.24

In [3]:
!pip show data-preprocessing-lib-byarat

Name: data-preprocessing-lib-byarat
Version: 1.9.0
Summary: An easy peasy comprehensive library for data preprocessing tasks
Home-page:
Author: Mehdi MiraÃ§ ARAT, Latif ÅžimÅŸek
Author-email: mehdimirac.arat@stu.fsm.edu.tr, latif.simsek@stu.fsm.edu.tr
License:
Location: /usr/local/lib/python3.10/dist-packages
Requires: beautifulsoup4, contractions, emoji, nltk, numpy, pandas, pyspellchecker, scikit-learn
Required-by:

In [4]:
!pip install beautifulsoup4

!pip install contractions

!pip install emoji

!pip install pyspellchecker

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: contractions in /usr/local/lib/python3.10/dist-packages (0.1.73)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.10/dist-packages (from contractions) (0.0.24)
Requirement already satisfied: anyascii in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions) (0.3.2)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions) (2.1.0)
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (2.12.1)
Requirement already satisfied: typing-extensions>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from emoji) (4.11.0)
Requirement already satisfied: pyspellchecker in /usr/local/lib/python3.10/dist-packages (0.8.1)

In [5]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.4)

In [6]:
import nltk

# NLTK veri kÃ¼melerini indir
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
import pandas as pd
from data_preprocessing_lib_byarat import TextCleaner

data = {'text': ["Hello World! This is a test. ðŸ¤£"]}
df = pd.DataFrame(data)
cleaner = TextCleaner()




# Clean text column
df_clean = TextCleaner.clean_column(df.copy(), 'text')

print("Clean Column:")
print(df_clean)

Clean Column:
                 text
0  hello world test ðŸ¤£

In [8]:
data = pd.read_csv('/content/synthetic_sample_data_minimal.csv')
sample = pd.DataFrame(data)
sample

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [9]:
from data_preprocessing_lib_byarat import MissingValueHandler, OutlierHandler, Scaler, TextCleaner, FeatureEngineer, DataTypeConverter, CategoricalEncoder, DateTimeHandler

##**CATEGORICAL ENCODE**

In [10]:
dataencoded = CategoricalEncoder()

In [11]:
encod=dataencoded.one_hot_encode(data,"Shooting Location")
encod

,Movie Id,Genre,Release Date,Rating,Summary,Budget in USD,Awards,Popular,Shooting Location_London,Shooting Location_Los Angeles,Shooting Location_New York,Shooting Location_Paris,Shooting Location_Sydney,Shooting Location_Tokyo,Shooting Location_Toronto
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,1.035408e+07,2,1,0,0,1,0,0,0,0
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,NaN,1,1,0,0,0,1,0,0,0
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,5.601372e+07,0,0,0,0,0,0,1,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,4.422451e+06,1,1,0,0,0,1,0,0,0
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,NaN,0,0,0,0,0,0,1,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,2.406163e+07,2,1,0,1,0,0,0,0,0
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,NaN,0,0,0,0,0,0,0,0,1
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,4.683286e+07,1,0,0,1,0,0,0,0,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,6.987464e+07,0,0,0,0,1,0,0,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,4.018517e+07,1,0,0,0,0,0,0,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",8.471490e+07,1,0,0,0,0,1,0,0,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,2.832553e+06,2,0,0,0,0,0,1,0,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,8.128408e+07,1,1,0,0,0,0,0,0,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,2.350500e+04,1,0,0,0,0,0,0,0,1
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,3.267364e+06,0,0,0,0,0,0,1,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,7.550006e+07,1,1,0,1,0,0,0,0,0
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,4.658762e+07,0,0,0,0,0,0,1,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,1.394423e+06,2,1,0,0,0,1,0,0,0
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,9.737322e+06,2,0,0,0,0,0,0,1,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,1.290734e+07,2,1,0,0,0,1,0,0,0
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,3.478010e+07,1,0,0,0,0,0,0,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,8.351821e+07,0,0,0,0,0,0,0,1,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",3.610468e+07,1,0,1,0,0,0,0,0,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,5.739973e+07,0,0,0,0,1,0,0,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,8.872575e+07,1,0,0,0,0,1,0,0,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,2.925571e+07,2,0,0,0,0,0,0,1,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,NaN,2,0,0,0,0,1,0,0,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,7.847867e+07,2,0,0,1,0,0,0,0,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,NaN,0,0,0,0,1,0,0,0,0

In [12]:
encode=dataencoded.label_encode(data,"Shooting Location")
encode

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0

In [13]:
encoded=dataencoded.label_encode(data,"Genre")
encoded

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,7,07/07/1985,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1
1,CORCILSLF,3,05/08/1999,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1
2,UBWUVIHEL,0,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0
3,CGHMHKJHH,5,21/07/2018,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1
4,WMLWHTAMN,5,28/10/2011,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0
5,REKCPGLOJ,1,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1
6,GSDOQQRPD,12,25/12/1995,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0
7,VMIYHZNZJ,0,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0
8,XVHGPYBBL,8,19/06/2002,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0
9,NNZFDYZTH,6,16/02/2019,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0
10,VZTEXQGBB,1,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0
11,XSPIAJYJM,5,19/11/1985,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0
12,VFXKEREAP,5,29/07/1992,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1
13,MCCASXIDK,2,26/12/2003,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0
14,MTUOJCLUA,7,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0
15,DBQTOTADE,4,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1
16,TKBEDDCMZ,11,26/06/2009,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0
17,CDRJDLRCH,6,14/12/2005,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1
18,WWAZEJQVI,4,12/08/1995,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0
19,IDFPFANWC,5,20/11/2015,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1
20,QTIYFBNML,3,02/08/2005,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0
21,RQMTIJYHD,3,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0
22,GEGWEHHWS,11,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0
23,QSUPSGILT,10,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0
24,HOQMJQXBM,9,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0
25,AAVHOBMRH,1,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0
26,AJGYZAZPD,1,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0
27,DXEFEMEGB,5,25/01/1993,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0
28,ZZIBKYJID,11,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0

In [14]:
df_freq = dataencoded.frequency_encode(data, 'Genre')
print("Frequency Encoding:")
df_freq

Frequency Encoding:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode
0,TOYHANVUR,7,07/07/1985,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966
1,CORCILSLF,3,05/08/1999,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448
2,UBWUVIHEL,0,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966
3,CGHMHKJHH,5,21/07/2018,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897
4,WMLWHTAMN,5,28/10/2011,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897
5,REKCPGLOJ,1,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931
6,GSDOQQRPD,12,25/12/1995,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483
7,VMIYHZNZJ,0,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966
8,XVHGPYBBL,8,19/06/2002,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483
9,NNZFDYZTH,6,16/02/2019,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966
10,VZTEXQGBB,1,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931
11,XSPIAJYJM,5,19/11/1985,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897
12,VFXKEREAP,5,29/07/1992,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897
13,MCCASXIDK,2,26/12/2003,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483
14,MTUOJCLUA,7,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966
15,DBQTOTADE,4,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966
16,TKBEDDCMZ,11,26/06/2009,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448
17,CDRJDLRCH,6,14/12/2005,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966
18,WWAZEJQVI,4,12/08/1995,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966
19,IDFPFANWC,5,20/11/2015,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897
20,QTIYFBNML,3,02/08/2005,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448
21,RQMTIJYHD,3,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448
22,GEGWEHHWS,11,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448
23,QSUPSGILT,10,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483
24,HOQMJQXBM,9,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483
25,AAVHOBMRH,1,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931
26,AJGYZAZPD,1,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931
27,DXEFEMEGB,5,25/01/1993,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897
28,ZZIBKYJID,11,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448

In [15]:
!pip install --upgrade data-preprocessing-lib-byarat

Requirement already satisfied: data-preprocessing-lib-byarat in /usr/local/lib/python3.10/dist-packages (1.9.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.25.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.2.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (3.8.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (4.12.3)
Requirement already satisfied: contractions in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (0.1.73)
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.12.1)
Requirement already satisfied: pyspellchecker in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (0.8.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->data-preprocessing-lib-byarat) (2.5)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.10/dist-packages (from contractions->data-preprocessing-lib-byarat) (0.0.24)
Requirement already satisfied: typing-extensions>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from emoji->data-preprocessing-lib-byarat) (4.11.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2024.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (1.11.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->data-preprocessing-lib-byarat) (1.16.0)
Requirement already satisfied: anyascii in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat) (0.3.2)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat) (2.1.0)
ERROR: Operation cancelled by user

In [16]:
df_binary = dataencoded.binary_encode_update(data, 'Genre')
print("Binary Encoding:")
df_binary

Binary Encoding:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3
0,TOYHANVUR,07/07/1985,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0
1,CORCILSLF,05/08/1999,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0
2,UBWUVIHEL,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0
3,CGHMHKJHH,21/07/2018,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0
4,WMLWHTAMN,28/10/2011,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0
5,REKCPGLOJ,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0
6,GSDOQQRPD,25/12/1995,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1
7,VMIYHZNZJ,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0
8,XVHGPYBBL,19/06/2002,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1
9,NNZFDYZTH,16/02/2019,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0
10,VZTEXQGBB,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0
11,XSPIAJYJM,19/11/1985,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0
12,VFXKEREAP,29/07/1992,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0
13,MCCASXIDK,26/12/2003,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0
14,MTUOJCLUA,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0
15,DBQTOTADE,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0
16,TKBEDDCMZ,26/06/2009,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1
17,CDRJDLRCH,14/12/2005,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0
18,WWAZEJQVI,12/08/1995,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0
19,IDFPFANWC,20/11/2015,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0
20,QTIYFBNML,02/08/2005,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0
21,RQMTIJYHD,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0
22,GEGWEHHWS,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1
23,QSUPSGILT,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1
24,HOQMJQXBM,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1
25,AAVHOBMRH,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0
26,AJGYZAZPD,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0
27,DXEFEMEGB,25/01/1993,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0
28,ZZIBKYJID,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1

In [24]:
encoded_data_genre = dataencoded.ordinal_encode(sample, 'Genre')
print("Ordinal Encoded 'Genre' Column:")
encoded_data_genre

Ordinal Encoded 'Genre' Column:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,7.0,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,3.0,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,0.0,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,5.0,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,5.0,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,1.0,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,12.0,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,0.0,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,8.0,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,6.0,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,1.0,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,5.0,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,5.0,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,2.0,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,7.0,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,4.0,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,11.0,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,6.0,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,4.0,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,5.0,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,3.0,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,3.0,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,11.0,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,10.0,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,9.0,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,1.0,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,1.0,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,5.0,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,11.0,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [26]:
encoded_data_genre = dataencoded.target_encode(sample, 'Genre', 'Rating')
print("Target Encoded 'Genre' Column:")
encoded_data_genre

Target Encoded 'Genre' Column:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_target_encode
0,TOYHANVUR,7.0,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,8.331780
1,CORCILSLF,3.0,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,7.055626
2,UBWUVIHEL,0.0,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,6.287765
3,CGHMHKJHH,5.0,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,8.197771
4,WMLWHTAMN,5.0,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,8.197771
5,REKCPGLOJ,1.0,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,9.133080
6,GSDOQQRPD,12.0,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,9.191819
7,VMIYHZNZJ,0.0,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,6.287765
8,XVHGPYBBL,8.0,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,9.125866
9,NNZFDYZTH,6.0,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,9.417988
10,VZTEXQGBB,1.0,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,9.133080
11,XSPIAJYJM,5.0,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,8.197771
12,VFXKEREAP,5.0,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,8.197771
13,MCCASXIDK,2.0,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,9.727619
14,MTUOJCLUA,7.0,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,8.331780
15,DBQTOTADE,4.0,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,9.039039
16,TKBEDDCMZ,11.0,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,7.216099
17,CDRJDLRCH,6.0,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,9.417988
18,WWAZEJQVI,4.0,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,9.039039
19,IDFPFANWC,5.0,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,8.197771
20,QTIYFBNML,3.0,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,7.055626
21,RQMTIJYHD,3.0,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,7.055626
22,GEGWEHHWS,11.0,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,7.216099
23,QSUPSGILT,10.0,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,7.216878
24,HOQMJQXBM,9.0,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,9.397201
25,AAVHOBMRH,1.0,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,9.133080
26,AJGYZAZPD,1.0,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,9.133080
27,DXEFEMEGB,5.0,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,8.197771
28,ZZIBKYJID,11.0,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,7.216099

##**Data Type Conveerter**

In [27]:
dataconv = DataTypeConverter()

In [31]:
numeric_data = dataconv.to_numeric(data.copy(), 'Budget in USD')
print("Numeric Column Converted Data:")
numeric_data

Numeric Column Converted Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3
0,TOYHANVUR,07/07/1985,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0
1,CORCILSLF,05/08/1999,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0
2,UBWUVIHEL,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0
3,CGHMHKJHH,21/07/2018,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0
4,WMLWHTAMN,28/10/2011,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0
5,REKCPGLOJ,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0
6,GSDOQQRPD,25/12/1995,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1
7,VMIYHZNZJ,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0
8,XVHGPYBBL,19/06/2002,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1
9,NNZFDYZTH,16/02/2019,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0
10,VZTEXQGBB,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0
11,XSPIAJYJM,19/11/1985,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0
12,VFXKEREAP,29/07/1992,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0
13,MCCASXIDK,26/12/2003,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0
14,MTUOJCLUA,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0
15,DBQTOTADE,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0
16,TKBEDDCMZ,26/06/2009,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1
17,CDRJDLRCH,14/12/2005,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0
18,WWAZEJQVI,12/08/1995,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0
19,IDFPFANWC,20/11/2015,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0
20,QTIYFBNML,02/08/2005,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0
21,RQMTIJYHD,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0
22,GEGWEHHWS,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1
23,QSUPSGILT,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1
24,HOQMJQXBM,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1
25,AAVHOBMRH,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0
26,AJGYZAZPD,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0
27,DXEFEMEGB,25/01/1993,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0
28,ZZIBKYJID,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1

In [32]:
categorical_data = dataconv.to_categorical(sample, 'Genre')
print("\nCategorical Column Converted Data:")
categorical_data

Categorical Column Converted Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_target_encode
0,TOYHANVUR,7.0,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,8.331780
1,CORCILSLF,3.0,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,7.055626
2,UBWUVIHEL,0.0,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,6.287765
3,CGHMHKJHH,5.0,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,8.197771
4,WMLWHTAMN,5.0,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,8.197771
5,REKCPGLOJ,1.0,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,9.133080
6,GSDOQQRPD,12.0,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,9.191819
7,VMIYHZNZJ,0.0,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,6.287765
8,XVHGPYBBL,8.0,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,9.125866
9,NNZFDYZTH,6.0,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,9.417988
10,VZTEXQGBB,1.0,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,9.133080
11,XSPIAJYJM,5.0,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,8.197771
12,VFXKEREAP,5.0,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,8.197771
13,MCCASXIDK,2.0,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,9.727619
14,MTUOJCLUA,7.0,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,8.331780
15,DBQTOTADE,4.0,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,9.039039
16,TKBEDDCMZ,11.0,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,7.216099
17,CDRJDLRCH,6.0,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,9.417988
18,WWAZEJQVI,4.0,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,9.039039
19,IDFPFANWC,5.0,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,8.197771
20,QTIYFBNML,3.0,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,7.055626
21,RQMTIJYHD,3.0,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,7.055626
22,GEGWEHHWS,11.0,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,7.216099
23,QSUPSGILT,10.0,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,7.216878
24,HOQMJQXBM,9.0,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,9.397201
25,AAVHOBMRH,1.0,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,9.133080
26,AJGYZAZPD,1.0,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,9.133080
27,DXEFEMEGB,5.0,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,8.197771
28,ZZIBKYJID,11.0,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,7.216099

In [34]:
datetime_data = dataconv.to_datetime(sample, 'Release Date')
print("\nDatetime Column Converted Data:")
datetime_data

Datetime Column Converted Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_target_encode
0,TOYHANVUR,7.0,1985-07-07,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,8.331780
1,CORCILSLF,3.0,1999-05-08,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,7.055626
2,UBWUVIHEL,0.0,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,6.287765
3,CGHMHKJHH,5.0,NaT,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,8.197771
4,WMLWHTAMN,5.0,NaT,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,8.197771
5,REKCPGLOJ,1.0,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,9.133080
6,GSDOQQRPD,12.0,NaT,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,9.191819
7,VMIYHZNZJ,0.0,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,6.287765
8,XVHGPYBBL,8.0,NaT,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,9.125866
9,NNZFDYZTH,6.0,NaT,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,9.417988
10,VZTEXQGBB,1.0,NaT,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,9.133080
11,XSPIAJYJM,5.0,NaT,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,8.197771
12,VFXKEREAP,5.0,NaT,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,8.197771
13,MCCASXIDK,2.0,NaT,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,9.727619
14,MTUOJCLUA,7.0,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,8.331780
15,DBQTOTADE,4.0,NaT,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,9.039039
16,TKBEDDCMZ,11.0,NaT,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,7.216099
17,CDRJDLRCH,6.0,NaT,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,9.417988
18,WWAZEJQVI,4.0,1995-12-08,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,9.039039
19,IDFPFANWC,5.0,NaT,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,8.197771
20,QTIYFBNML,3.0,2005-02-08,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,7.055626
21,RQMTIJYHD,3.0,NaT,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,7.055626
22,GEGWEHHWS,11.0,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,7.216099
23,QSUPSGILT,10.0,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,7.216878
24,HOQMJQXBM,9.0,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,9.397201
25,AAVHOBMRH,1.0,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,9.133080
26,AJGYZAZPD,1.0,NaT,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,9.133080
27,DXEFEMEGB,5.0,NaT,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,8.197771
28,ZZIBKYJID,11.0,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,7.216099

##**Date Time Handler**

In [35]:
handler = DateTimeHandler()

In [36]:
date_parts_data = handler.extract_date_parts(data.copy(), 'Release Date')
print("Extracted Date Parts Data:")
date_parts_data

Extracted Date Parts Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,...,year,month,day,hour,minute,second,day_of_week,day_of_year,week_of_year,quarter
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,...,1985.0,7.0,7.0,0.0,0.0,0.0,6.0,188.0,27,3.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,...,1999.0,5.0,8.0,0.0,0.0,0.0,5.0,128.0,18,2.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,...,1996.0,8.0,5.0,0.0,0.0,0.0,0.0,218.0,32,3.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,...,2013.0,4.0,6.0,0.0,0.0,0.0,5.0,96.0,14,2.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,...,1989.0,3.0,3.0,0.0,0.0,0.0,4.0,62.0,9,1.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,...,1995.0,12.0,8.0,0.0,0.0,0.0,4.0,342.0,49,4.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,...,2005.0,2.0,8.0,0.0,0.0,0.0,1.0,39.0,6,1.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,...,2001.0,6.0,12.0,0.0,0.0,0.0,1.0,163.0,24,2.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,...,2002.0,4.0,2.0,0.0,0.0,0.0,1.0,92.0,14,2.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,...,1991.0,2.0,11.0,0.0,0.0,0.0,0.0,42.0,7,1.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,...,1991.0,2.0,12.0,0.0,0.0,0.0,1.0,43.0,7,1.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,...,2019.0,2.0,5.0,0.0,0.0,0.0,1.0,36.0,6,1.0

In [39]:
year_data = handler.extract_year(data.copy(), 'Release Date')
print("\nExtracted Year Data:")
year_data

Extracted Year Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,year
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,1985.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,1999.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,1996.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,2013.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,1989.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,1995.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,2005.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,2001.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,2002.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,1991.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,1991.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,2019.0

In [40]:
month_data = handler.extract_month(data.copy(), 'Release Date')
print("\nExtracted Month Data:")
month_data

Extracted Month Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,month
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,7.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,5.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,8.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,4.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,3.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,12.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,2.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,6.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,4.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,2.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,2.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,2.0

In [41]:
day_data = handler.extract_day(data.copy(), 'Release Date')
print("\nExtracted Day Data:")
day_data

Extracted Day Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,day
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,7.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,8.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,5.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,6.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,3.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,8.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,8.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,12.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,2.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,11.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,12.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,5.0

In [42]:
hour_data = handler.extract_hour(data.copy(), 'Release Date')
print("\nExtracted Hour Data:")
hour_data

Extracted Hour Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,hour
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,0.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,0.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,0.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,0.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,0.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,0.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,0.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,0.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,0.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,0.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,0.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,0.0

In [43]:
minute_data = handler.extract_minute(data.copy(), 'Release Date')
print("\nExtracted Minute Data:")
minute_data

Extracted Minute Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,minute
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,0.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,0.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,0.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,0.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,0.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,0.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,0.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,0.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,0.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,0.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,0.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,0.0

In [44]:
second_data = handler.extract_second(data.copy(), 'Release Date')
print("\nExtracted Second Data:")
second_data

Extracted Second Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,second
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,0.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,0.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,0.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,0.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,0.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,0.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,0.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,0.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,0.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,0.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,0.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,0.0

In [45]:
day_of_week_data = handler.extract_day_of_week(data.copy(), 'Release Date')
print("\nExtracted Day of Week Data:")
day_of_week_data

Extracted Day of Week Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,day_of_week
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,6.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,5.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,0.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,5.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,4.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,4.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,1.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,1.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,1.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,0.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,1.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,1.0

In [46]:
day_of_year_data = handler.extract_day_of_year(data.copy(), 'Release Date')
print("\nExtracted Day of Year Data:")
day_of_year_data

Extracted Day of Year Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,day_of_year
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,188.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,128.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,218.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,96.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,62.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,342.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,39.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,163.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,92.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,42.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,43.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,36.0

In [47]:
week_of_year_data = handler.extract_week_of_year(data.copy(), 'Release Date')
print("\nExtracted Week of Year Data:")
week_of_year_data

Extracted Week of Year Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,week_of_year
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,27
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,18
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,32
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,<NA>
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,<NA>
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,14
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,<NA>
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,<NA>
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,<NA>
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,<NA>
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,<NA>
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,<NA>
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,<NA>
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,<NA>
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,9
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,<NA>
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,<NA>
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,<NA>
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,49
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,<NA>
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,6
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,<NA>
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,24
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,14
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,7
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,7
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,<NA>
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,<NA>
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,6

In [48]:
quarter_data = handler.extract_quarter(data.copy(), 'Release Date')
print("\nExtracted Quarter Data:")
quarter_data

Extracted Quarter Data:

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_freq_encode,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,quarter
0,TOYHANVUR,1985-07-07,9.750176,A group of college students get more than they...,2,1.035408e+07,2,1,0.068966,1,1,1,0,3.0
1,CORCILSLF,1999-05-08,7.912876,A documentary that sheds light on the devastat...,3,NaN,1,1,0.103448,1,1,0,0,2.0
2,UBWUVIHEL,1996-08-05,3.116053,A lost civilization is rediscovered deep withi...,4,5.601372e+07,0,0,0.068966,0,0,0,0,3.0
3,CGHMHKJHH,NaT,8.811783,A young inventor builds a time machine and emb...,3,4.422451e+06,1,1,0.206897,1,0,1,0,NaN
4,WMLWHTAMN,NaT,5.250991,A young inventor builds a time machine and emb...,4,NaN,0,0,0.206897,1,0,1,0,NaN
5,REKCPGLOJ,2013-04-06,8.676586,A heartwarming story about a dog who brings tw...,1,2.406163e+07,2,1,0.137931,1,0,0,0,2.0
6,GSDOQQRPD,NaT,9.191819,This historical drama explores the pivotal eve...,6,NaN,0,0,0.034483,0,0,1,1,NaN
7,VMIYHZNZJ,NaT,9.459478,In a post-apocalyptic world overrun by zombies...,1,4.683286e+07,1,0,0.068966,0,0,0,0,NaN
8,XVHGPYBBL,NaT,9.125866,When a series of strange events plague a small...,2,6.987464e+07,0,0,0.034483,0,0,0,1,NaN
9,NNZFDYZTH,NaT,9.232197,A group of musicians from different background...,5,4.018517e+07,1,0,0.068966,0,1,1,0,NaN
10,VZTEXQGBB,NaT,8.912548,"A talented chef travels the world, collecting ...",3,8.471490e+07,1,0,0.137931,1,0,0,0,NaN
11,XSPIAJYJM,NaT,8.561358,A team of explorers ventures into the depths o...,4,2.832553e+06,2,0,0.206897,1,0,1,0,NaN
12,VFXKEREAP,NaT,7.742613,A team of explorers ventures into the depths o...,6,8.128408e+07,1,1,0.206897,1,0,1,0,NaN
13,MCCASXIDK,NaT,9.727619,A young woman discovers she possesses magical ...,6,2.350500e+04,1,0,0.034483,0,1,0,0,NaN
14,MTUOJCLUA,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,4,3.267364e+06,0,0,0.068966,1,1,1,0,1.0
15,DBQTOTADE,NaT,8.276999,A heartwarming animated film that teaches valu...,1,7.550006e+07,1,1,0.068966,0,0,1,0,NaN
16,TKBEDDCMZ,NaT,7.591583,A group of college students get more than they...,4,4.658762e+07,0,0,0.103448,1,1,0,1,NaN
17,CDRJDLRCH,NaT,9.603778,A group of musicians from different background...,3,1.394423e+06,2,1,0.068966,0,1,1,0,NaN
18,WWAZEJQVI,1995-12-08,9.801080,A documentary film that sheds light on a socia...,5,9.737322e+06,2,0,0.068966,0,0,1,0,4.0
19,IDFPFANWC,NaT,9.227341,A team of explorers ventures into the depths o...,3,1.290734e+07,2,1,0.206897,1,0,1,0,NaN
20,QTIYFBNML,2005-02-08,7.858370,This documentary explores the cutthroat world ...,5,3.478010e+07,1,0,0.103448,1,1,0,0,1.0
21,RQMTIJYHD,NaT,5.395632,A historical drama depicting a pivotal moment ...,5,8.351821e+07,0,0,0.103448,1,1,0,0,NaN
22,GEGWEHHWS,2001-06-12,8.336223,"In a world ruled by machines, a lone rebel fig...",0,3.610468e+07,1,0,0.103448,1,1,0,1,2.0
23,QSUPSGILT,2002-04-02,7.216878,A suspenseful horror film that will leave you ...,2,5.739973e+07,0,0,0.034483,0,1,0,1,2.0
24,HOQMJQXBM,1991-02-11,9.397201,A heartwarming romantic comedy about two peopl...,3,8.872575e+07,1,0,0.034483,1,0,0,1,1.0
25,AAVHOBMRH,1991-02-12,9.852601,A heartwarming story about a dog who brings tw...,5,2.925571e+07,2,0,0.137931,1,0,0,0,1.0
26,AJGYZAZPD,NaT,9.090585,A bumbling office worker accidentally becomes ...,3,NaN,2,0,0.137931,1,0,0,0,NaN
27,DXEFEMEGB,NaT,9.592543,A group of social media influencers trapped on...,1,7.847867e+07,2,0,0.206897,1,0,1,0,NaN
28,ZZIBKYJID,2019-02-05,5.720490,A suspenseful thriller about a family trapped ...,2,NaN,0,0,0.103448,1,1,0,1,1.0

In [49]:
elapsed_data = pd.DataFrame({
    'Start Date': ['01/01/2020', '05/03/2020', '10/10/2020'],
    'End Date': ['01/01/2021', '05/03/2021', '10/10/2021']
})

elapsed_time_data = handler.extract_elapsed_time(elapsed_data.copy(), 'Start Date', 'End Date', 'Elapsed Time')
print("\nElapsed Time Data:")
elapsed_time_data[['Start Date', 'End Date', 'Elapsed Time']]

Elapsed Time Data:

  Start Date   End Date  Elapsed Time
0 2020-01-01 2021-01-01    31622400.0
1 2020-05-03 2021-05-03    31536000.0
2 2020-10-10 2021-10-10    31536000.0

##**Feature Engineer**

In [19]:
!pip install --upgrade data-preprocessing-lib-byarat

Requirement already satisfied: data-preprocessing-lib-byarat in /usr/local/lib/python3.10/dist-packages (1.10.2)
Collecting data-preprocessing-lib-byarat
  Downloading data_preprocessing_lib_byarat-1.10.3-py3-none-any.whl (13 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.25.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.2.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (3.8.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (4.12.3)
Requirement already satisfied: contractions in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (0.1.73)
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.12.1)
Requirement already satisfied: pyspellchecker in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (0.8.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->data-preprocessing-lib-byarat) (2.5)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.10/dist-packages (from contractions->data-preprocessing-lib-byarat) (0.0.24)
Requirement already satisfied: typing-extensions>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from emoji->data-preprocessing-lib-byarat) (4.11.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2024.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (1.11.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->data-preprocessing-lib-byarat) (1.16.0)
Requirement already satisfied: anyascii in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat) (0.3.2)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat) (2.1.0)
Installing collected packages: data-preprocessing-lib-byarat
  Attempting uninstall: data-preprocessing-lib-byarat
    Found existing installation: data-preprocessing-lib-byarat 1.10.2
    Uninstalling data-preprocessing-lib-byarat-1.10.2:
      Successfully uninstalled data-preprocessing-lib-byarat-1.10.2
Successfully installed data-preprocessing-lib-byarat-1.10.3

In [1]:
!pip show data-preprocessing-lib-byarat

Name: data-preprocessing-lib-byarat
Version: 1.10.3
Summary: An easy peasy comprehensive library for data preprocessing tasks
Home-page:
Author: Mehdi MiraÃ§ ARAT, Latif ÅžimÅŸek
Author-email: mehdimirac.arat@stu.fsm.edu.tr, latif.simsek@stu.fsm.edu.tr
License:
Location: /usr/local/lib/python3.10/dist-packages
Requires: beautifulsoup4, contractions, emoji, nltk, numpy, pandas, pyspellchecker, scikit-learn
Required-by:

In [2]:
import pandas as pd
data = pd.read_csv('/content/synthetic_sample_data_minimal.csv')
sample = pd.DataFrame(data)
sample

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [3]:
from data_preprocessing_lib_byarat import MissingValueHandler, OutlierHandler, Scaler, TextCleaner, FeatureEngineer, DataTypeConverter, CategoricalEncoder, DateTimeHandler

In [4]:
engineer = FeatureEngineer()

In [5]:
normalized_budget_data = engineer.normalize_budget_by_year_update(data.copy(), 'Budget in USD', 'Release Date')
print("Normalized Budget by Year Data:")
normalized_budget_data[['Release Date', 'Budget in USD', 'normalized_budget']]

Normalized Budget by Year Data:

   Release Date  Budget in USD  normalized_budget
0    1985-07-07   1.035408e+07           1.570390
1    1999-08-05            NaN                NaN
2    1996-05-08   5.601372e+07           1.000000
3    2018-07-21   4.422451e+06           0.097575
4    2011-10-28            NaN                NaN
5    2013-06-04   2.406163e+07           1.000000
6    1995-12-25            NaN                NaN
7    2018-03-23   4.683286e+07           1.033304
8    2002-06-19   6.987464e+07           1.098016
9    2019-02-16   4.018517e+07           1.000000
10   2018-01-22   8.471490e+07           1.869120
11   1985-11-19   2.832553e+06           0.429610
12   1992-07-29   8.128408e+07           1.000000
13   2003-12-26   2.350500e+04           1.000000
14   1989-03-03   3.267364e+06           1.000000
15   1990-10-23   7.550006e+07           1.000000
16   2009-06-26   4.658762e+07           1.000000
17   2005-12-14   1.394423e+06           0.077094
18   1995-08-12   9.737322e+06           1.000000
19   2015-11-20   1.290734e+07           1.000000
20   2005-08-02   3.478010e+07           1.922906
21   1997-08-15   8.351821e+07           1.000000
22   2001-12-06   3.610468e+07           1.000000
23   2002-02-04   5.739973e+07           0.901984
24   1991-11-02   8.872575e+07           1.504063
25   1991-12-02   2.925571e+07           0.495937
26   1991-09-18            NaN                NaN
27   1993-01-25   7.847867e+07           1.000000
28   2019-05-02            NaN                NaN

In [6]:
date_parts_data = engineer.extract_date_parts_update(data.copy(), 'Release Date')
print("\nExtracted Date Parts Data:")
date_parts_data

Extracted Date Parts Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,year,month,day
0,TOYHANVUR,Horror,1985-07-07,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,1985,7,7
1,CORCILSLF,Documentary,1999-08-05,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,1999,8,5
2,UBWUVIHEL,Adventure,1996-05-08,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,1996,5,8
3,CGHMHKJHH,Fantasy,2018-07-21,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,2018,7,21
4,WMLWHTAMN,Fantasy,2011-10-28,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,2011,10,28
5,REKCPGLOJ,Comedy,2013-06-04,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,2013,6,4
6,GSDOQQRPD,Western,1995-12-25,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,1995,12,25
7,VMIYHZNZJ,Adventure,2018-03-23,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,2018,3,23
8,XVHGPYBBL,Mystery,2002-06-19,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,2002,6,19
9,NNZFDYZTH,History,2019-02-16,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,2019,2,16
10,VZTEXQGBB,Comedy,2018-01-22,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,2018,1,22
11,XSPIAJYJM,Fantasy,1985-11-19,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,1985,11,19
12,VFXKEREAP,Fantasy,1992-07-29,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,1992,7,29
13,MCCASXIDK,Crime,2003-12-26,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,2003,12,26
14,MTUOJCLUA,Horror,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,1989,3,3
15,DBQTOTADE,Drama,1990-10-23,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,1990,10,23
16,TKBEDDCMZ,Thriller,2009-06-26,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,2009,6,26
17,CDRJDLRCH,History,2005-12-14,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,2005,12,14
18,WWAZEJQVI,Drama,1995-08-12,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,1995,8,12
19,IDFPFANWC,Fantasy,2015-11-20,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,2015,11,20
20,QTIYFBNML,Documentary,2005-08-02,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,2005,8,2
21,RQMTIJYHD,Documentary,1997-08-15,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,1997,8,15
22,GEGWEHHWS,Thriller,2001-12-06,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,2001,12,6
23,QSUPSGILT,Sports,2002-02-04,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,2002,2,4
24,HOQMJQXBM,Science Fiction,1991-11-02,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,1991,11,2
25,AAVHOBMRH,Comedy,1991-12-02,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,1991,12,2
26,AJGYZAZPD,Comedy,1991-09-18,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,1991,9,18
27,DXEFEMEGB,Fantasy,1993-01-25,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,1993,1,25
28,ZZIBKYJID,Thriller,2019-05-02,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,2019,5,2

In [7]:
def sample_func(row):
    return row['Rating'] * 2

In [8]:
created_feature_data = engineer.create_feature(data.copy(), 'double_rating', sample_func)
print("\nCreated Feature Data:")
created_feature_data

Created Feature Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,double_rating
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,19.500351
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,15.825753
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,6.232105
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,17.623566
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,10.501982
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,17.353173
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,18.383638
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,18.918957
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,18.251732
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,18.464395
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,17.825096
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,17.122715
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,15.485225
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,19.455238
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,13.826767
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,16.553998
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,15.183166
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,19.207556
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,19.602160
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,18.454682
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,15.716740
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,10.791264
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,16.672447
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,14.433756
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,18.794402
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,19.705202
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,18.181169
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,19.185087
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,11.440980

In [9]:
normalized_budget = engineer.normalize_budget(data.copy(), 'Budget in USD', 'Release Date')
print("\nNormalized Budget Data:")
normalized_budget

Normalized Budget Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,normalized_budget
0,TOYHANVUR,Horror,NaN,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,NaN
1,CORCILSLF,Documentary,NaN,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,NaN
2,UBWUVIHEL,Adventure,NaN,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,NaN
3,CGHMHKJHH,Fantasy,NaN,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,NaN
4,WMLWHTAMN,Fantasy,NaN,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,NaN
5,REKCPGLOJ,Comedy,NaN,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,NaN
6,GSDOQQRPD,Western,NaN,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,NaN
7,VMIYHZNZJ,Adventure,NaN,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,NaN
8,XVHGPYBBL,Mystery,NaN,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,NaN
9,NNZFDYZTH,History,NaN,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,NaN
10,VZTEXQGBB,Comedy,NaN,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,NaN
11,XSPIAJYJM,Fantasy,NaN,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,NaN
12,VFXKEREAP,Fantasy,NaN,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,NaN
13,MCCASXIDK,Crime,NaN,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,NaN
14,MTUOJCLUA,Horror,NaN,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,NaN
15,DBQTOTADE,Drama,NaN,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,NaN
16,TKBEDDCMZ,Thriller,NaN,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,NaN
17,CDRJDLRCH,History,NaN,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,NaN
18,WWAZEJQVI,Drama,NaN,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,NaN
19,IDFPFANWC,Fantasy,NaN,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,NaN
20,QTIYFBNML,Documentary,NaN,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,NaN
21,RQMTIJYHD,Documentary,NaN,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,NaN
22,GEGWEHHWS,Thriller,NaN,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,NaN
23,QSUPSGILT,Sports,NaN,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,NaN
24,HOQMJQXBM,Science Fiction,NaN,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,NaN
25,AAVHOBMRH,Comedy,NaN,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,NaN
26,AJGYZAZPD,Comedy,NaN,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,NaN
27,DXEFEMEGB,Fantasy,NaN,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,NaN
28,ZZIBKYJID,Thriller,NaN,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,NaN

In [10]:
day_of_year_data = engineer.day_of_year_update(data.copy(), 'Release Date')
print("\nDay of Year Data:")
day_of_year_data

Day of Year Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,day_of_year
0,TOYHANVUR,Horror,1985-07-07,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,188
1,CORCILSLF,Documentary,1999-08-05,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,217
2,UBWUVIHEL,Adventure,1996-05-08,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,129
3,CGHMHKJHH,Fantasy,2018-07-21,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,202
4,WMLWHTAMN,Fantasy,2011-10-28,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,301
5,REKCPGLOJ,Comedy,2013-06-04,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,155
6,GSDOQQRPD,Western,1995-12-25,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,359
7,VMIYHZNZJ,Adventure,2018-03-23,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,82
8,XVHGPYBBL,Mystery,2002-06-19,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,170
9,NNZFDYZTH,History,2019-02-16,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,47
10,VZTEXQGBB,Comedy,2018-01-22,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,22
11,XSPIAJYJM,Fantasy,1985-11-19,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,323
12,VFXKEREAP,Fantasy,1992-07-29,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,211
13,MCCASXIDK,Crime,2003-12-26,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,360
14,MTUOJCLUA,Horror,1989-03-03,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,62
15,DBQTOTADE,Drama,1990-10-23,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,296
16,TKBEDDCMZ,Thriller,2009-06-26,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,177
17,CDRJDLRCH,History,2005-12-14,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,348
18,WWAZEJQVI,Drama,1995-08-12,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,224
19,IDFPFANWC,Fantasy,2015-11-20,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,324
20,QTIYFBNML,Documentary,2005-08-02,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,214
21,RQMTIJYHD,Documentary,1997-08-15,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,227
22,GEGWEHHWS,Thriller,2001-12-06,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,340
23,QSUPSGILT,Sports,2002-02-04,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,35
24,HOQMJQXBM,Science Fiction,1991-11-02,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,306
25,AAVHOBMRH,Comedy,1991-12-02,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,336
26,AJGYZAZPD,Comedy,1991-09-18,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,261
27,DXEFEMEGB,Fantasy,1993-01-25,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,25
28,ZZIBKYJID,Thriller,2019-05-02,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,122

In [11]:
conditional_data = engineer.conditional_feature(data.copy(), 'high_rating', lambda df: df['Rating'] > 8, 1, 0)
print("\nConditional Feature Data:")
conditional_data

Conditional Feature Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,high_rating
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,0
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,1
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,1
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,1
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,1
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,1
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,1
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,0
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,1
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,1
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,1
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,1
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,1
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,1
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,1
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,0

In [12]:
dummies_data = engineer.create_dummies(data.copy(), 'Genre')
print("\nCreate Dummies Data:")
dummies_data

Create Dummies Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_Adventure,...,Genre_Documentary,Genre_Drama,Genre_Fantasy,Genre_History,Genre_Horror,Genre_Mystery,Genre_Science Fiction,Genre_Sports,Genre_Thriller,Genre_Western
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,False,...,False,False,False,False,True,False,False,False,False,False
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,False,...,True,False,False,False,False,False,False,False,False,False
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,True,...,False,False,False,False,False,False,False,False,False,False
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,False,...,False,False,True,False,False,False,False,False,False,False
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,False,...,False,False,True,False,False,False,False,False,False,False
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,False,...,False,False,False,False,False,False,False,False,False,False
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,False,...,False,False,False,False,False,False,False,False,False,True
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,True,...,False,False,False,False,False,False,False,False,False,False
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,False,...,False,False,False,False,False,True,False,False,False,False
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,False,...,False,False,False,True,False,False,False,False,False,False
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,False,...,False,False,False,False,False,False,False,False,False,False
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,False,...,False,False,True,False,False,False,False,False,False,False
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,False,...,False,False,True,False,False,False,False,False,False,False
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,False,...,False,False,False,False,False,False,False,False,False,False
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,False,...,False,False,False,False,True,False,False,False,False,False
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,False,...,False,True,False,False,False,False,False,False,False,False
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,False,...,False,False,False,False,False,False,False,False,True,False
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,False,...,False,False,False,True,False,False,False,False,False,False
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,False,...,False,True,False,False,False,False,False,False,False,False
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,False,...,False,False,True,False,False,False,False,False,False,False
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,False,...,True,False,False,False,False,False,False,False,False,False
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,False,...,True,False,False,False,False,False,False,False,False,False
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,False,...,False,False,False,False,False,False,False,False,True,False
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,False,...,False,False,False,False,False,False,False,True,False,False
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,False,...,False,False,False,False,False,False,True,False,False,False
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,False,...,False,False,False,False,False,False,False,False,False,False
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,False,...,False,False,False,False,False,False,False,False,False,False
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,False,...,False,False,True,False,False,False,False,False,False,False
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,False,...,False,False,False,False,False,False,False,False,True,False

In [13]:
log_transformed_data = engineer.log_transform(data.copy(), 'Rating')
print("\nLog Transformed Data:")
log_transformed_data

Log Transformed Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Rating_log
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,2.374922
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,2.187497
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,1.414895
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,2.283584
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,1.832740
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,2.269709
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,2.321585
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,2.347509
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,2.315093
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,2.325539
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,2.293801
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,2.257730
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,2.168209
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,2.372822
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,2.068555
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,2.227538
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,2.150783
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,2.361210
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,2.379646
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,2.325065
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,2.181363
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,1.855615
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,2.233902
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,2.106190
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,2.341537
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,2.384405
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,2.311603
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,2.360150
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,1.905161

In [14]:
interaction_data = engineer.interaction_terms(data.copy(), ['Rating', 'Awards'])
print("\nInteraction Terms Data:")
interaction_data

Interaction Terms Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Rating_x_Awards
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,19.500351
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,7.912876
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,0.000000
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,8.811783
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,0.000000
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,17.353173
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,0.000000
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,9.459478
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,0.000000
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,9.232197
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,8.912548
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,17.122715
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,7.742613
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,9.727619
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,0.000000
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,8.276999
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,0.000000
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,19.207556
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,19.602160
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,18.454682
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,7.858370
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,0.000000
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,8.336223
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,0.000000
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,9.397201
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,19.705202
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,18.181169
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,19.185087
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,0.000000

In [15]:
polynomial_data = engineer.polynomial_features(data.copy(), 'Rating', degree=3)
print("\nPolynomial Features Data:")
polynomial_data

Polynomial Features Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Rating_pow_2,Rating_pow_3
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,95.065926,926.909474
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,62.613614,495.453788
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,9.709784,30.256196
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,77.647519,684.213079
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,27.572905,144.785071
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,75.283150,653.200754
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,84.489537,776.612529
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,89.481731,846.450502
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,83.281426,760.015119
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,85.233470,786.892222
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,79.433513,707.955006
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,73.296843,627.520476
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,59.948052,464.154547
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,94.626571,920.491231
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,47.794870,330.424257
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,68.508715,567.046576
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,57.632135,437.519152
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,92.232555,885.781003
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,96.061165,941.503145
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,85.143820,785.651057
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,61.753977,485.285588
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,29.112847,157.082213
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,69.492619,579.305984
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,52.083329,375.879031
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,88.307388,829.842274
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,97.073748,956.428918
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,82.638728,751.234341
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,92.016887,882.675968
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,32.724004,187.197333

In [16]:
moving_avg_data = engineer.moving_average(data.copy(), 'Rating', window=3)
print("\nMoving Average Data:")
moving_avg_data

Moving Average Data:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Rating_moving_avg
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1,NaN
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1,NaN
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0,6.926368
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1,6.613571
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0,5.726275
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1,7.579787
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0,7.706465
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0,9.109295
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0,9.259054
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0,9.272514
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0,9.090204
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0,8.902034
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1,8.405506
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0,8.677196
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0,8.127872
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1,8.306001
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0,7.593989
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1,8.490787
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0,8.998814
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1,9.544066
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0,8.962264
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0,7.493781
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0,7.196742
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0,6.982911
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0,8.316767
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0,8.822227
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0,9.446796
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0,9.511910
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0,8.134539

##**Missing Value Handler**

In [1]:
!pip install --upgrade data-preprocessing-lib-byarat
!pip show data-preprocessing-lib-byarat

Requirement already satisfied: data-preprocessing-lib-byarat in /usr/local/lib/python3.10/dist-packages (1.10.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.25.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (1.2.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (3.8.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (4.12.3)
Requirement already satisfied: contractions in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (0.1.73)
Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (2.12.1)
Requirement already satisfied: pyspellchecker in /usr/local/lib/python3.10/dist-packages (from data-preprocessing-lib-byarat) (0.8.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->data-preprocessing-lib-byarat) (2.5)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.10/dist-packages (from contractions->data-preprocessing-lib-byarat) (0.0.24)
Requirement already satisfied: typing-extensions>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from emoji->data-preprocessing-lib-byarat) (4.11.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->data-preprocessing-lib-byarat) (4.66.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->data-preprocessing-lib-byarat) (2024.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (1.11.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->data-preprocessing-lib-byarat) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->data-preprocessing-lib-byarat) (1.16.0)
Requirement already satisfied: anyascii in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat) (0.3.2)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.10/dist-packages (from textsearch>=0.0.21->contractions->data-preprocessing-lib-byarat) (2.1.0)
Name: data-preprocessing-lib-byarat
Version: 1.10.5
Summary: An easy peasy comprehensive library for data preprocessing tasks
Home-page:
Author: Mehdi MiraÃ§ ARAT, Latif ÅžimÅŸek
Author-email: mehdimirac.arat@stu.fsm.edu.tr, latif.simsek@stu.fsm.edu.tr
License:
Location: /usr/local/lib/python3.10/dist-packages
Requires: beautifulsoup4, contractions, emoji, nltk, numpy, pandas, pyspellchecker, scikit-learn
Required-by:

In [2]:
import pandas as pd
data = pd.read_csv('/content/synthetic_sample_data_minimal.csv')
sample = pd.DataFrame(data)
sample

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [3]:
from data_preprocessing_lib_byarat import MissingValueHandler, OutlierHandler, Scaler, TextCleaner, FeatureEngineer, DataTypeConverter, CategoricalEncoder, DateTimeHandler

In [4]:
handler = MissingValueHandler()

In [5]:
imputed_mean_data = handler.impute_with_mean(data.copy(), 'Budget in USD')
print("Imputed without Mean Data:")
data[['Budget in USD']]

Imputed without Mean Data:

    Budget in USD
0    1.035408e+07
1             NaN
2    5.601372e+07
3    4.422451e+06
4             NaN
5    2.406163e+07
6             NaN
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26            NaN
27   7.847867e+07
28            NaN

In [6]:
print("Imputed with Mean Data:")
imputed_mean_data[['Budget in USD']]

Imputed with Mean Data:

    Budget in USD
0    1.035408e+07
1    4.076069e+07
2    5.601372e+07
3    4.422451e+06
4    4.076069e+07
5    2.406163e+07
6    4.076069e+07
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26   4.076069e+07
27   7.847867e+07
28   4.076069e+07

In [7]:
imputed_median_data = handler.impute_with_median(data.copy(), 'Budget in USD')
print("\nImputed with Median Data:")
imputed_median_data[['Budget in USD']]

Imputed with Median Data:

    Budget in USD
0    1.035408e+07
1    3.814493e+07
2    5.601372e+07
3    4.422451e+06
4    3.814493e+07
5    2.406163e+07
6    3.814493e+07
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26   3.814493e+07
27   7.847867e+07
28   3.814493e+07

In [8]:
print("\nImputed without Median Data:")
data[['Budget in USD']]

Imputed without Median Data:

    Budget in USD
0    1.035408e+07
1             NaN
2    5.601372e+07
3    4.422451e+06
4             NaN
5    2.406163e+07
6             NaN
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26            NaN
27   7.847867e+07
28            NaN

In [9]:
imputed_constant_data = handler.impute_with_constant(data.copy(), 'Budget in USD', 1000000)
print("\nImputed with Constant Data:")
imputed_constant_data[['Budget in USD']]

Imputed with Constant Data:

    Budget in USD
0    1.035408e+07
1    1.000000e+06
2    5.601372e+07
3    4.422451e+06
4    1.000000e+06
5    2.406163e+07
6    1.000000e+06
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26   1.000000e+06
27   7.847867e+07
28   1.000000e+06

In [10]:
print("\nDropped Without Missing Data:")
data[['Budget in USD']]

Dropped Without Missing Data:

    Budget in USD
0    1.035408e+07
1             NaN
2    5.601372e+07
3    4.422451e+06
4             NaN
5    2.406163e+07
6             NaN
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26            NaN
27   7.847867e+07
28            NaN

In [11]:
dropped_missing_data = handler.drop_missing(data.copy(), 'Budget in USD')
print("\nDropped Missing Data:")
dropped_missing_data[['Budget in USD']]

Dropped Missing Data:

    Budget in USD
0    1.035408e+07
2    5.601372e+07
3    4.422451e+06
5    2.406163e+07
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
27   7.847867e+07

In [12]:
data[['Budget in USD']]

    Budget in USD
0    1.035408e+07
1             NaN
2    5.601372e+07
3    4.422451e+06
4             NaN
5    2.406163e+07
6             NaN
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26            NaN
27   7.847867e+07
28            NaN

In [13]:
imputed_mode_data = handler.impute_with_mode(data.copy(), 'Budget in USD')
print("\nImputed with Mode Data:")
imputed_mode_data[['Budget in USD']]

Imputed with Mode Data:

    Budget in USD
0    1.035408e+07
1    2.350500e+04
2    5.601372e+07
3    4.422451e+06
4    2.350500e+04
5    2.406163e+07
6    2.350500e+04
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26   2.350500e+04
27   7.847867e+07
28   2.350500e+04

In [14]:
data[['Budget in USD']]

    Budget in USD
0    1.035408e+07
1             NaN
2    5.601372e+07
3    4.422451e+06
4             NaN
5    2.406163e+07
6             NaN
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26            NaN
27   7.847867e+07
28            NaN

In [15]:
forward_filled_data = handler.forward_fill(data.copy(), 'Budget in USD')
print("\nForward Fill Data:")
forward_filled_data[['Budget in USD']]

Forward Fill Data:

    Budget in USD
0    1.035408e+07
1    1.035408e+07
2    5.601372e+07
3    4.422451e+06
4    4.422451e+06
5    2.406163e+07
6    2.406163e+07
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26   2.925571e+07
27   7.847867e+07
28   7.847867e+07

In [16]:
backward_filled_data = handler.backward_fill(data.copy(), 'Budget in USD')
print("\nBackward Fill Data:")
backward_filled_data[['Budget in USD']]

Backward Fill Data:

    Budget in USD
0    1.035408e+07
1    5.601372e+07
2    5.601372e+07
3    4.422451e+06
4    2.406163e+07
5    2.406163e+07
6    4.683286e+07
7    4.683286e+07
8    6.987464e+07
9    4.018517e+07
10   8.471490e+07
11   2.832553e+06
12   8.128408e+07
13   2.350500e+04
14   3.267364e+06
15   7.550006e+07
16   4.658762e+07
17   1.394423e+06
18   9.737322e+06
19   1.290734e+07
20   3.478010e+07
21   8.351821e+07
22   3.610468e+07
23   5.739973e+07
24   8.872575e+07
25   2.925571e+07
26   7.847867e+07
27   7.847867e+07
28            NaN

In [17]:
knn_imputed_data = handler.impute_knn(data.copy(), ['Budget in USD', 'Rating'])
print("\nKNN Imputed Data:")
knn_imputed_data[['Budget in USD', 'Rating']]

KNN Imputed Data:

    Budget in USD    Rating
0    1.035408e+07  9.750176
1    4.031781e+07  7.912876
2    5.601372e+07  3.116053
3    4.422451e+06  8.811783
4    4.935733e+07  5.250991
5    2.406163e+07  8.676586
6    5.342596e+07  9.191819
7    4.683286e+07  9.459478
8    6.987464e+07  9.125866
9    4.018517e+07  9.232197
10   8.471490e+07  8.912548
11   2.832553e+06  8.561358
12   8.128408e+07  7.742613
13   2.350500e+04  9.727619
14   3.267364e+06  6.913383
15   7.550006e+07  8.276999
16   4.658762e+07  7.591583
17   1.394423e+06  9.603778
18   9.737322e+06  9.801080
19   1.290734e+07  9.227341
20   3.478010e+07  7.858370
21   8.351821e+07  5.395632
22   3.610468e+07  8.336223
23   5.739973e+07  7.216878
24   8.872575e+07  9.397201
25   2.925571e+07  9.852601
26   7.239583e+07  9.090585
27   7.847867e+07  9.592543
28   5.441140e+07  5.720490

In [18]:
data[['Budget in USD', 'Rating']]

    Budget in USD    Rating
0    1.035408e+07  9.750176
1             NaN  7.912876
2    5.601372e+07  3.116053
3    4.422451e+06  8.811783
4             NaN  5.250991
5    2.406163e+07  8.676586
6             NaN  9.191819
7    4.683286e+07  9.459478
8    6.987464e+07  9.125866
9    4.018517e+07  9.232197
10   8.471490e+07  8.912548
11   2.832553e+06  8.561358
12   8.128408e+07  7.742613
13   2.350500e+04  9.727619
14   3.267364e+06  6.913383
15   7.550006e+07  8.276999
16   4.658762e+07  7.591583
17   1.394423e+06  9.603778
18   9.737322e+06  9.801080
19   1.290734e+07  9.227341
20   3.478010e+07  7.858370
21   8.351821e+07  5.395632
22   3.610468e+07  8.336223
23   5.739973e+07  7.216878
24   8.872575e+07  9.397201
25   2.925571e+07  9.852601
26            NaN  9.090585
27   7.847867e+07  9.592543
28            NaN  5.720490

In [19]:
marked_missing_data = handler.mark_missing(data.copy(), 'Budget in USD')
print("\nMarked Missing Data:")
marked_missing_data[['Budget in USD', 'Budget in USD_missing']]

Marked Missing Data:

    Budget in USD  Budget in USD_missing
0    1.035408e+07                  False
1             NaN                   True
2    5.601372e+07                  False
3    4.422451e+06                  False
4             NaN                   True
5    2.406163e+07                  False
6             NaN                   True
7    4.683286e+07                  False
8    6.987464e+07                  False
9    4.018517e+07                  False
10   8.471490e+07                  False
11   2.832553e+06                  False
12   8.128408e+07                  False
13   2.350500e+04                  False
14   3.267364e+06                  False
15   7.550006e+07                  False
16   4.658762e+07                  False
17   1.394423e+06                  False
18   9.737322e+06                  False
19   1.290734e+07                  False
20   3.478010e+07                  False
21   8.351821e+07                  False
22   3.610468e+07                  False
23   5.739973e+07                  False
24   8.872575e+07                  False
25   2.925571e+07                  False
26            NaN                   True
27   7.847867e+07                  False
28            NaN                   True

In [20]:
data[['Rating', 'Budget in USD']]

      Rating  Budget in USD
0   9.750176   1.035408e+07
1   7.912876            NaN
2   3.116053   5.601372e+07
3   8.811783   4.422451e+06
4   5.250991            NaN
5   8.676586   2.406163e+07
6   9.191819            NaN
7   9.459478   4.683286e+07
8   9.125866   6.987464e+07
9   9.232197   4.018517e+07
10  8.912548   8.471490e+07
11  8.561358   2.832553e+06
12  7.742613   8.128408e+07
13  9.727619   2.350500e+04
14  6.913383   3.267364e+06
15  8.276999   7.550006e+07
16  7.591583   4.658762e+07
17  9.603778   1.394423e+06
18  9.801080   9.737322e+06
19  9.227341   1.290734e+07
20  7.858370   3.478010e+07
21  5.395632   8.351821e+07
22  8.336223   3.610468e+07
23  7.216878   5.739973e+07
24  9.397201   8.872575e+07
25  9.852601   2.925571e+07
26  9.090585            NaN
27  9.592543   7.847867e+07
28  5.720490            NaN

In [24]:
group_mean_imputed_data = handler.impute_group_mean(data.copy(), 'Rating', 'Budget in USD')
print("\nGroup Mean Imputed Data:")
group_mean_imputed_data[['Rating', 'Budget in USD']]

Group Mean Imputed Data:

      Rating  Budget in USD
0   9.750176   1.035408e+07
1   7.912876            NaN
2   3.116053   5.601372e+07
3   8.811783   4.422451e+06
4   5.250991            NaN
5   8.676586   2.406163e+07
6   9.191819            NaN
7   9.459478   4.683286e+07
8   9.125866   6.987464e+07
9   9.232197   4.018517e+07
10  8.912548   8.471490e+07
11  8.561358   2.832553e+06
12  7.742613   8.128408e+07
13  9.727619   2.350500e+04
14  6.913383   3.267364e+06
15  8.276999   7.550006e+07
16  7.591583   4.658762e+07
17  9.603778   1.394423e+06
18  9.801080   9.737322e+06
19  9.227341   1.290734e+07
20  7.858370   3.478010e+07
21  5.395632   8.351821e+07
22  8.336223   3.610468e+07
23  7.216878   5.739973e+07
24  9.397201   8.872575e+07
25  9.852601   2.925571e+07
26  9.090585            NaN
27  9.592543   7.847867e+07
28  5.720490            NaN

In [26]:
group_median_imputed_data = handler.impute_group_median_update (data.copy(), 'Budget in USD', 'Rating')
print("\nGroup Median Imputed Data:")
group_median_imputed_data[['Rating', 'Budget in USD']]

Group Medians:
Budget in USD
2.350500e+04    9.727619
1.394423e+06    9.603778
2.832553e+06    8.561358
3.267364e+06    6.913383
4.422451e+06    8.811783
9.737322e+06    9.801080
1.035408e+07    9.750176
1.290734e+07    9.227341
2.406163e+07    8.676586
2.925571e+07    9.852601
3.478010e+07    7.858370
3.610468e+07    8.336223
4.018517e+07    9.232197
4.658762e+07    7.591583
4.683286e+07    9.459478
5.601372e+07    3.116053
5.739973e+07    7.216878
6.987464e+07    9.125866
7.550006e+07    8.276999
7.847867e+07    9.592543
8.128408e+07    7.742613
8.351821e+07    5.395632
8.471490e+07    8.912548
8.872575e+07    9.397201
Name: Rating, dtype: float64

Group Median Imputed Data:

      Rating  Budget in USD
0   9.750176   1.035408e+07
1        NaN            NaN
2   3.116053   5.601372e+07
3   8.811783   4.422451e+06
4        NaN            NaN
5   8.676586   2.406163e+07
6        NaN            NaN
7   9.459478   4.683286e+07
8   9.125866   6.987464e+07
9   9.232197   4.018517e+07
10  8.912548   8.471490e+07
11  8.561358   2.832553e+06
12  7.742613   8.128408e+07
13  9.727619   2.350500e+04
14  6.913383   3.267364e+06
15  8.276999   7.550006e+07
16  7.591583   4.658762e+07
17  9.603778   1.394423e+06
18  9.801080   9.737322e+06
19  9.227341   1.290734e+07
20  7.858370   3.478010e+07
21  5.395632   8.351821e+07
22  8.336223   3.610468e+07
23  7.216878   5.739973e+07
24  9.397201   8.872575e+07
25  9.852601   2.925571e+07
26       NaN            NaN
27  9.592543   7.847867e+07
28       NaN            NaN

##**Outlier Handler**

In [27]:
outhandler = OutlierHandler()

In [28]:
print("IQR Outlier Detection:")
iqr_outliers = outhandler.detect_outliers_iqr(data.copy(), 'Rating')
iqr_outliers

IQR Outlier Detection:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,56013723.35,0,0
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0

In [29]:
print("\nZ-Score Outlier Detection:")
z_score_outliers = outhandler.detect_outliers_z_score(data.copy(), 'Rating')
z_score_outliers

Z-Score Outlier Detection:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,56013723.35,0,0

In [30]:
print("\nMAD Outlier Detection:")
mad_outliers = outhandler.detect_outliers_mad(data.copy(), 'Rating')
mad_outliers

MAD Outlier Detection:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,56013723.35,0,0
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0

In [31]:
print("\nMahalanobis Outlier Detection:")
mahalanobis_outliers = outhandler.detect_outliers_mahalanobis(data.copy(), ['Rating'])
mahalanobis_outliers

Mahalanobis Outlier Detection:

LinAlgError: 0-dimensional array given. Array must be at least two-dimensional

In [32]:
print("\nTukey's Fences Outlier Detection:")
tukeys_fences_outliers = outhandler.detect_outliers_tukeys_fences(data.copy(), 'Rating')
tukeys_fences_outliers

Tukey's Fences Outlier Detection:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,56013723.35,0,0
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0

In [33]:
print("\nIsolation Forest Outlier Detection:")
isolation_forest_outliers = outhandler.detect_outliers_isolation_forest(data.copy(), 'Rating')

isolation_forest_outliers

Isolation Forest Outlier Detection:

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,56013723.35,0,0
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [34]:
print("\nLocal Outlier Factor Detection:")
lof_outliers = outhandler.detect_outliers_local_outlier_factor(data.copy(), 'Rating')
lof_outliers

Local Outlier Factor Detection:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,56013723.35,0,0
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,83518205.47,0,0

In [35]:
print("\nDBSCAN Outlier Detection:")
dbscan_outliers = outhandler.detect_outliers_dbscan(data.copy(), 'Rating')
dbscan_outliers

DBSCAN Outlier Detection:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

##**Scaling**

In [37]:
scaler = Scaler()

In [40]:
print("Min-Max Scaling:")
min_max_scaled_data = scaler.min_max_scale(data.copy(), 'Rating')
min_max_scaled_data

Min-Max Scaling:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.984796,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,0.712060,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,0.000000,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.845497,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,0.316919,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,0.825428,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,0.901911,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.941643,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.892121,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,0.907905,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.860455,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,0.808323,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,0.686785,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,0.981447,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,0.563691,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,0.766111,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,0.664366,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,0.963064,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.992352,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.907184,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,0.703968,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,0.338390,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,0.774903,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,0.608743,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.932399,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,1.000000,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.886883,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.961396,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,0.386613,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [42]:
print("\nStandard Scaling:")
standard_scaled_data = scaler.standard_scale(data.copy(), 'Budget in USD')
standard_scaled_data

Standard Scaling:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,-0.998276,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,0.500771,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,-1.193016,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,-0.548245,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,0.199355,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,0.955837,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,-0.018895,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,1.443056,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,-1.245214,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,1.330419,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,-1.337438,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,-1.230939,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,1.140524,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,0.191303,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,-1.292429,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,-1.018525,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,-0.914450,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,-0.196348,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,1.403767,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,-0.152861,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,0.546274,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,1.574735,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,-0.377719,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,1.238315,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [43]:
print("\nRobust Scaling:")
robust_scaled_data = scaler.robust_scale(data.copy(), 'Rating')
robust_scaled_data

Robust Scaling:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.567146,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,-0.543281,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,-3.442385,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.000000,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,-2.152071,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,-0.081710,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,0.229686,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.391454,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.189825,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,0.254090,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.060900,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,-0.151352,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,-0.646185,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,0.553513,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,-1.147355,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,-0.323213,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,-0.737464,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,0.478666,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.597911,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.251155,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,-0.576224,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,-2.064653,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,-0.287419,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,-0.963929,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.353815,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,0.629050,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.168502,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.471876,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,-1.868316,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [44]:
print("\nMax-Abs Scaling:")
max_abs_scaled_data = scaler.max_abs_scale(data.copy(), 'Rating')
max_abs_scaled_data

Max-Abs Scaling:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.989604,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,0.803126,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,0.316267,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.894361,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,0.532955,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,0.880639,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,0.932933,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.960100,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.926239,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,0.937031,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.904588,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,0.868944,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,0.785845,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,0.987315,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,0.701681,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,0.840083,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,0.770516,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,0.974745,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.994771,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.936539,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,0.797593,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,0.547635,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,0.846094,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,0.732485,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.953779,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,1.000000,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.922658,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.973605,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,0.580607,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [45]:
print("\nLog Scaling:")
log_scaled_data = scaler.log_scale(data.copy(), 'Rating')
log_scaled_data

Log Scaling:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,2.374922,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,2.187497,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,1.414895,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,2.283584,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,1.832740,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,2.269709,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,2.321585,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,2.347509,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,2.315093,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,2.325539,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,2.293801,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,2.257730,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,2.168209,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,2.372822,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,2.068555,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,2.227538,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,2.150783,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,2.361210,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,2.379646,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,2.325065,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,2.181363,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,1.855615,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,2.233902,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,2.106190,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,2.341537,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,2.384405,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,2.311603,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,2.360150,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,1.905161,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [46]:
print("\nZ-Score Scaling:")
z_score_scaled_data = scaler.z_score(data.copy(), 'Rating')
z_score_scaled_data

Z-Score Scaling:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.915482,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,-0.208226,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,-3.142005,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.341553,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,-1.836258,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,0.258866,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,0.573986,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.737689,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.533649,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,0.598682,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.403182,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,0.188391,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,-0.312361,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,0.901686,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,-0.819525,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,0.014475,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,-0.404732,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,0.825944,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.946615,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.595712,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,-0.241563,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,-1.747794,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,0.050697,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,-0.633905,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.699600,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,0.978126,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.512070,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.819073,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,-1.549109,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [47]:
print("\nBox-Cox Scaling:")
# Box-Cox requires all positive values, let's shift data for this test
data_shifted = data.copy()
data_shifted['Rating'] = data_shifted['Rating'] + 1
box_cox_scaled_data = scaler.box_cox_scale(data_shifted, 'Rating')
box_cox_scaled_data[['Rating']]

Box-Cox Scaling:

      Rating
0   1.260672
1  -0.568024
2  -1.997456
3   0.187826
4  -1.727196
5   0.058555
6   0.583887
7   0.893545
8   0.511575
9   0.628924
10  0.288058
11 -0.047038
12 -0.685718
13  1.230991
14 -1.160452
15 -0.290313
16 -0.784001
17  1.071653
18  1.328409
19  0.623477
20 -0.606515
21 -1.693786
22 -0.241622
23 -1.004493
24  0.819130
25  1.398044
26  0.473522
27  1.057496
28 -1.609151

In [48]:
print("\nYeo-Johnson Scaling:")
yeo_johnson_scaled_data = scaler.yeo_johnson_scale(data.copy(), 'Rating')
yeo_johnson_scaled_data[['Rating']]

Yeo-Johnson Scaling:

      Rating
0   1.260672
1  -0.568024
2  -1.997456
3   0.187826
4  -1.727196
5   0.058555
6   0.583887
7   0.893545
8   0.511575
9   0.628924
10  0.288058
11 -0.047038
12 -0.685718
13  1.230991
14 -1.160452
15 -0.290313
16 -0.784001
17  1.071653
18  1.328409
19  0.623477
20 -0.606515
21 -1.693786
22 -0.241622
23 -1.004493
24  0.819130
25  1.398044
26  0.473522
27  1.057496
28 -1.609151

In [53]:
print("\nQuantile Transformation (Uniform):")
quantile_transformed_uniform_data = scaler.quantile_transform(data.copy(), 'Rating', output_distribution='uniform')
quantile_transformed_uniform_data[['Rating']]

Quantile Transformation (Uniform):

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_data.py:2627: UserWarning: n_quantiles (100) is greater than the total number of samples (29). n_quantiles is set to n_samples.
  warnings.warn(

      Rating
0   0.928571
1   0.321429
2   0.000000
3   0.500000
4   0.035714
5   0.464286
6   0.642857
7   0.785714
8   0.607143
9   0.714286
10  0.535714
11  0.428571
12  0.250000
13  0.892857
14  0.142857
15  0.357143
16  0.214286
17  0.857143
18  0.964286
19  0.678571
20  0.285714
21  0.071429
22  0.392857
23  0.178571
24  0.750000
25  1.000000
26  0.571429
27  0.821429
28  0.107143

In [50]:
print("\nQuantile Transformation (Normal):")
quantile_transformed_normal_data = scaler.quantile_transform(data.copy(), 'Rating', output_distribution='normal')
quantile_transformed_normal_data[['Rating']]

Quantile Transformation (Normal):

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_data.py:2627: UserWarning: n_quantiles (100) is greater than the total number of samples (29). n_quantiles is set to n_samples.
  warnings.warn(

      Rating
0   1.465234
1  -0.463708
2  -5.199338
3   0.000000
4  -1.802743
5  -0.089642
6   0.366106
7   0.791639
8   0.271880
9   0.565949
10  0.089642
11 -0.180012
12 -0.674490
13  1.241867
14 -1.067571
15 -0.366106
16 -0.791639
17  1.067571
18  1.802743
19  0.463708
20 -0.565949
21 -1.465234
22 -0.271880
23 -0.920823
24  0.674490
25  5.199338
26  0.180012
27  0.920823
28 -1.241867

In [51]:
print("\nInverse Log Scaling:")
inverse_log_scaled_data = scaler.log_scale(data.copy(), 'Rating')
inverse_log_scaled_data = scaler.inverse_log_scale(inverse_log_scaled_data, 'Rating')
inverse_log_scaled_data[['Rating']]

Inverse Log Scaling:

      Rating
0   9.750176
1   7.912876
2   3.116053
3   8.811783
4   5.250991
5   8.676586
6   9.191819
7   9.459478
8   9.125866
9   9.232197
10  8.912548
11  8.561358
12  7.742613
13  9.727619
14  6.913383
15  8.276999
16  7.591583
17  9.603778
18  9.801080
19  9.227341
20  7.858370
21  5.395632
22  8.336223
23  7.216878
24  9.397201
25  9.852601
26  9.090585
27  9.592543
28  5.720490

In [52]:
print("\nSquare Root Scaling:")
square_root_scaled_data = scaler.square_root_scale(data.copy(), 'Rating')
square_root_scaled_data[['Rating']]

Square Root Scaling:

      Rating
0   3.122527
1   2.812984
2   1.765234
3   2.968465
4   2.291504
5   2.945605
6   3.031801
7   3.075627
8   3.020905
9   3.038453
10  2.985389
11  2.925980
12  2.782555
13  3.118913
14  2.629331
15  2.876977
16  2.755283
17  3.098996
18  3.130668
19  3.037654
20  2.803278
21  2.322850
22  2.887252
23  2.686425
24  3.065485
25  3.138885
26  3.015060
27  3.097183
28  2.391755

In [54]:
print("\nReciprocal Scaling:")
reciprocal_scaled_data = scaler.reciprocal_scale(data.copy(), 'Rating')
reciprocal_scaled_data[['Rating']]

Reciprocal Scaling:

      Rating
0   0.102562
1   0.126376
2   0.320919
3   0.113484
4   0.190440
5   0.115253
6   0.108792
7   0.105714
8   0.109579
9   0.108317
10  0.112201
11  0.116804
12  0.129155
13  0.102800
14  0.144647
15  0.120817
16  0.131725
17  0.104126
18  0.102030
19  0.108374
20  0.127253
21  0.185335
22  0.119958
23  0.138564
24  0.106415
25  0.101496
26  0.110004
27  0.104248
28  0.174810

##**Text Cleaner**

In [58]:
cleaner = TextCleaner()

In [55]:
print("Original Summary:")
data['Summary'][0]

Original Summary:

'A group of college students get more than they bargained for when they spend a weekend at a haunted house.'

In [59]:
print("\nStopwords Removal:")
cleaned_data = cleaner.remove_stopwords_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Stopwords Removal:
group college students get bargained spend weekend haunted house.

In [60]:
print("\nTo Lowercase:")
cleaned_data = cleaner.to_lowercase_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

To Lowercase:
a group of college students get more than they bargained for when they spend a weekend at a haunted house.

In [61]:
print("\nRemove Punctuation:")
cleaned_data = cleaner.remove_punctuation_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Remove Punctuation:
A group of college students get more than they bargained for when they spend a weekend at a haunted house

In [62]:
print("\nLemmatize:")
cleaned_data = cleaner.lemmatize_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Lemmatize:
A group of college student get more than they bargained for when they spend a weekend at a haunted house.

In [63]:
print("\nRemove Numbers:")
cleaned_data = cleaner.remove_numbers_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Remove Numbers:
A group of college students get more than they bargained for when they spend a weekend at a haunted house.

In [64]:
print("\nRemove Extra Whitespace:")
cleaned_data = cleaner.remove_extra_whitespace_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Remove Extra Whitespace:
A group of college students get more than they bargained for when they spend a weekend at a haunted house.

In [65]:
print("\nStem Words:")
cleaned_data = cleaner.stem_words_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Stem Words:
a group of colleg student get more than they bargain for when they spend a weekend at a haunt house.

In [69]:
datademo = {
        'text': [
            "Hello World! This is a test.",
            "Check out this link: https://example.com",
            "U r amazing! LOL",
            "Text with numbers 12345 and punctuations!!!",
            "<html>HTML content</html>",
            "   Extra   whitespace   ",
            "Spellng mistkes are cmmon",
            "Emojis are fun ðŸ˜ŠðŸ˜‚ðŸ‘",
            "Here's a contraction: don't",
            "Abbreviations like idk and lol"
        ]
    }
df = pd.DataFrame(datademo)

In [70]:
print("\nRemove HTML Tags:")
for text in df['text']:
        print(cleaner.remove_html_tags(text))

Remove HTML Tags:
Hello World! This is a test.
Check out this link: https://example.com
U r amazing! LOL
Text with numbers 12345 and punctuations!!!
HTML content
   Extra   whitespace
Spellng mistkes are cmmon
Emojis are fun ðŸ˜ŠðŸ˜‚ðŸ‘
Here's a contraction: don't
Abbreviations like idk and lol

/usr/local/lib/python3.10/dist-packages/data_preprocessing_lib_byarat/text_cleaner.py:67: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  return BeautifulSoup(text, "html.parser").get_text()

In [71]:
print("\nReplace Contractions:")
cleaned_data = cleaner.replace_contractions_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Replace Contractions:
A group of college students get more than they bargained for when they spend a weekend at a haunted house.

In [73]:
print("\nReplace Contractions in df:")
for text in df['text']:
        print(cleaner.replace_contractions(text))

Replace Contractions in df:
Hello World! This is a test.
Check out this link: https://example.com
YOU r amazing! LOL
Text with numbers 12345 and punctuations!!!
<html>HTML content</html>
   Extra   whitespace
Spellng mistkes are cmmon
Emojis are fun ðŸ˜ŠðŸ˜‚ðŸ‘
Here is a contraction: do not
Abbreviations like i do not know and lol

In [74]:
print("\nExpand Abbreviations:")
for text in df['text']:
        print(cleaner.expand_abbreviations(text))

Expand Abbreviations:
Hello World! This is a test.
Check out this link: https://example.com
U are amazing! LOL
Text with numbers 12345 and punctuations!!!
<html>HTML content</html>
Extra whitespace
Spellng mistkes are cmmon
Emojis are fun ðŸ˜ŠðŸ˜‚ðŸ‘
Here's a contraction: don't
Abbreviations like I don't know and laughing out loud

In [76]:
print("\nRemove Special Characters:")
for text in df['text']:
        print(cleaner.remove_special_characters(text))

Remove Special Characters:
Hello World This is a test
Check out this link httpsexamplecom
U r amazing LOL
Text with numbers 12345 and punctuations
htmlHTML contenthtml
   Extra   whitespace
Spellng mistkes are cmmon
Emojis are fun
Heres a contraction dont
Abbreviations like idk and lol

In [77]:
print("\nRemove Special Characters:")
cleaned_data = cleaner.remove_special_characters_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Remove Special Characters:
A group of college students get more than they bargained for when they spend a weekend at a haunted house

In [78]:
print("\nRemove URLs:")
for text in df['text']:
        print(cleaner.remove_urls(text))

Remove URLs:
Hello World! This is a test.
Check out this link:
U r amazing! LOL
Text with numbers 12345 and punctuations!!!
<html>HTML content</html>
   Extra   whitespace
Spellng mistkes are cmmon
Emojis are fun ðŸ˜ŠðŸ˜‚ðŸ‘
Here's a contraction: don't
Abbreviations like idk and lol

In [79]:
print("\nRemove HTML Tags:")
for text in df['text']:
        print(cleaner.remove_html_tags(text))

Remove HTML Tags:
Hello World! This is a test.
Check out this link: https://example.com
U r amazing! LOL
Text with numbers 12345 and punctuations!!!
HTML content
   Extra   whitespace
Spellng mistkes are cmmon
Emojis are fun ðŸ˜ŠðŸ˜‚ðŸ‘
Here's a contraction: don't
Abbreviations like idk and lol

/usr/local/lib/python3.10/dist-packages/data_preprocessing_lib_byarat/text_cleaner.py:67: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  return BeautifulSoup(text, "html.parser").get_text()

In [80]:
print("\nSpell Check:")
cleaned_data = cleaner.spell_check_column(data.copy(), 'Summary')
print(cleaned_data['Summary'][0])

Spell Check:
A group of college students get more than they bargained for when they spend a weekend at a haunted house

In [81]:
print("\nRemove Emojis:")
for text in df['text']:
        print(cleaner.remove_emojis(text))

Remove Emojis:
Hello World! This is a test.
Check out this link: https://example.com
U r amazing! LOL
Text with numbers 12345 and punctuations!!!
<html>HTML content</html>
   Extra   whitespace
Spellng mistkes are cmmon
Emojis are fun
Here's a contraction: don't
Abbreviations like idk and lol

In [82]:
cleaned_data = data.copy()
cleaned_data['Summary_cleaned'] = cleaner.clean_column(cleaned_data, 'Summary')['Summary']

print("Orijinal ve TemizlenmiÅŸ Metinler:")
print(cleaned_data[['Summary', 'Summary_cleaned']].head())

cleaned_data['Summary_no_stopwords'] = cleaner.remove_stopwords_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_lowercase'] = cleaner.to_lowercase_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_no_punctuation'] = cleaner.remove_punctuation_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_lemmatized'] = cleaner.lemmatize_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_no_numbers'] = cleaner.remove_numbers_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_no_whitespace'] = cleaner.remove_extra_whitespace_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_stemmed'] = cleaner.stem_words_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_no_html'] = cleaner.remove_html_tags_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_no_contractions'] = cleaner.replace_contractions_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_expanded'] = cleaner.expand_abbreviations_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_no_special_chars'] = cleaner.remove_special_characters_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_no_urls'] = cleaner.remove_urls_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_no_emojis'] = cleaner.remove_emojis_column(data.copy(), 'Summary')['Summary']
cleaned_data['Summary_spell_checked'] = cleaner.spell_check_column(data.copy(), 'Summary')['Summary']

print("TemizlenmiÅŸ Metinler DataFrame:")
cleaned_data

Orijinal ve TemizlenmiÅŸ Metinler:
                                             Summary  \
0  group college student get bargained spend week...
1  documentary shed light devastating effect clim...
2  lost civilization rediscovered deep within ama...
3  young inventor build time machine embarks jour...
4  young inventor build time machine embarks jour...

                                     Summary_cleaned
0  group college student get bargained spend week...
1  documentary shed light devastating effect clim...
2  lost civilization rediscovered deep within ama...
3  young inventor build time machine embarks jour...
4  young inventor build time machine embarks jour...
TemizlenmiÅŸ Metinler DataFrame:

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Summary_cleaned,...,Summary_no_numbers,Summary_no_whitespace,Summary_stemmed,Summary_no_html,Summary_no_contractions,Summary_expanded,Summary_no_special_chars,Summary_no_urls,Summary_no_emojis,Summary_spell_checked
0,TOYHANVUR,Horror,07/07/1985,9.750176,group college student get bargained spend week...,New York,1.035408e+07,2,1,group college student get bargained spend week...,...,A group of college students get more than they...,A group of college students get more than they...,a group of colleg student get more than they b...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...
1,CORCILSLF,Documentary,05/08/1999,7.912876,documentary shed light devastating effect clim...,Paris,NaN,1,1,documentary shed light devastating effect clim...,...,A documentary that sheds light on the devastat...,A documentary that sheds light on the devastat...,a documentari that shed light on the devast ef...,A documentary that sheds light on the devastat...,A documentary that sheds light on the devastat...,A documentary that sheds light on the devastat...,A documentary that sheds light on the devastat...,A documentary that sheds light on the devastat...,A documentary that sheds light on the devastat...,A documentary that sheds light on the devastat...
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,lost civilization rediscovered deep within ama...,Sydney,5.601372e+07,0,0,lost civilization rediscovered deep within ama...,...,A lost civilization is rediscovered deep withi...,A lost civilization is rediscovered deep withi...,a lost civil is rediscov deep within the amazo...,A lost civilization is rediscovered deep withi...,A lost civilization is rediscovered deep withi...,A lost civilization is rediscovered deep withi...,A lost civilization is rediscovered deep withi...,A lost civilization is rediscovered deep withi...,A lost civilization is rediscovered deep withi...,A lost civilization is rediscovered deep withi...
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,young inventor build time machine embarks jour...,Paris,4.422451e+06,1,1,young inventor build time machine embarks jour...,...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,a young inventor build a time machin and embar...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,young inventor build time machine embarks jour...,Sydney,NaN,0,0,young inventor build time machine embarks jour...,...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,a young inventor build a time machin and embar...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...,A young inventor builds a time machine and emb...
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,heartwarming story dog brings two lonely peopl...,Los Angeles,2.406163e+07,2,1,heartwarming story dog brings two lonely peopl...,...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,a heartwarm stori about a dog who bring two lo...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...
6,GSDOQQRPD,Western,25/12/1995,9.191819,historical drama explores pivotal event led am...,Toronto,NaN,0,0,historical drama explores pivotal event led am...,...,This historical drama explores the pivotal eve...,This historical drama explores the pivotal eve...,thi histor drama explor the pivot event that l...,This historical drama explores the pivotal eve...,This historical drama explores the pivotal eve...,This historical drama explores the pivotal eve...,This historical drama explores the pivotal eve...,This historical drama explores the pivotal eve...,This historical drama explores the pivotal eve...,This historical drama explores the pivotal eve...
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,postapocalyptic world overrun zombie group sur...,Los Angeles,4.683286e+07,1,0,postapocalyptic world overrun zombie group sur...,...,In a post-apocalyptic world overrun by zombies...,In a post-apocalyptic world overrun by zombies...,"in a post-apocalypt world overrun by zombies, ...",In a post-apocalyptic world overrun by zombies...,In a post-apocalyptic world overrun by zombies...,In a post-apocalyptic world overrun by zombies...,In a postapocalyptic world overrun by zombies ...,In a post-apocalyptic world overrun by zombies...,In a post-apocalyptic world overrun by zombies...,In a post-apocalyptic world overrun by zombies...
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,series strange event plague small town group t...,New York,6.987464e+07,0,0,series strange event plague small town group t...,...,When a series of strange events plague a small...,When a series of strange events plague a small...,when a seri of strang event plagu a small town...,When a series of strange events plague a small...,When a series of strange events plague a small...,When a series of strange events plague a small...,When a series of strange events plague a small...,When a series of strange events plague a small...,When a series of strange events plague a small...,When a series of strange events plague a small...
9,NNZFDYZTH,History,16/02/2019,9.232197,group musician different background form band ...,Tokyo,4.018517e+07,1,0,group musician different background form band ...,...,A group of musicians from different background...,A group of musicians from different background...,a group of musician from differ background for...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,talented chef travel world collecting culinary...,Paris,8.471490e+07,1,0,talented chef travel world collecting culinary...,...,"A talented chef travels the world, collecting ...","A talented chef travels the world, collecting ...","a talent chef travel the world, collect culina...","A talented chef travels the world, collecting ...","A talented chef travels the world, collecting ...","A talented chef travels the world, collecting ...",A talented chef travels the world collecting c...,"A talented chef travels the world, collecting ...","A talented chef travels the world, collecting ...",A talented chef travels the world collecting c...
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,team explorer venture depth ocean uncover anci...,Sydney,2.832553e+06,2,0,team explorer venture depth ocean uncover anci...,...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,a team of explor ventur into the depth of the ...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,team explorer venture depth ocean uncover anci...,Toronto,8.128408e+07,1,1,team explorer venture depth ocean uncover anci...,...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,a team of explor ventur into the depth of the ...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...
13,MCCASXIDK,Crime,26/12/2003,9.727619,young woman discovers posse magical ability mu...,Toronto,2.350500e+04,1,0,young woman discovers posse magical ability mu...,...,A young woman discovers she possesses magical ...,A young woman discovers she possesses magical ...,a young woman discov she possess magic abil an...,A young woman discovers she possesses magical ...,A young woman discovers she possesses magical ...,A young woman discovers she possesses magical ...,A young woman discovers she possesses magical ...,A young woman discovers she possesses magical ...,A young woman discovers she possesses magical ...,A young woman discovers she possesses magical ...
14,MTUOJCLUA,Horror,03/03/1989,6.913383,group teenager explore seemingly abandoned hou...,Sydney,3.267364e+06,0,0,group teenager explore seemingly abandoned hou...,...,A group of teenagers explore a seemingly aband...,A group of teenagers explore a seemingly aband...,a group of teenag explor a seemingli abandon h...,A group of teenagers explore a seemingly aband...,A group of teenagers explore a seemingly aband...,A group of teenagers explore a seemingly aband...,A group of teenagers explore a seemingly aband...,A group of teenagers explore a seemingly aband...,A group of teenagers explore a seemingly aband...,A group of teenagers explore a seemingly aband...
15,DBQTOTADE,Drama,23/10/1990,8.276999,heartwarming animated film teach valuable life...,Los Angeles,7.550006e+07,1,1,heartwarming animated film teach valuable life...,...,A heartwarming animated film that teaches valu...,A heartwarming animated film that teaches valu...,a heartwarm anim film that teach valuabl life ...,A heartwarming animated film that teaches valu...,A heartwarming animated film that teaches valu...,A heartwarming animated film that teaches valu...,A heartwarming animated film that teaches valu...,A heartwarming animated film that teaches valu...,A heartwarming animated film that teaches valu...,A heartwarming animated film that teaches valu...
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,group college student get bargained participat...,Sydney,4.658762e+07,0,0,group college student get bargained participat...,...,A group of college students get more than they...,A group of college students get more than they...,a group of colleg student get more than they b...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...,A group of college students get more than they...
17,CDRJDLRCH,History,14/12/2005,9.603778,group musician different background form band ...,Paris,1.394423e+06,2,1,group musician different background form band ...,...,A group of musicians from different background...,A group of musicians from different background...,a group of musician from differ background for...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...,A group of musicians from different background...
18,WWAZEJQVI,Drama,12/08/1995,9.801080,documentary film shed light social environment...,Tokyo,9.737322e+06,2,0,documentary film shed light social environment...,...,A documentary film that sheds light on a socia...,A documentary film that sheds light on a socia...,a documentari film that shed light on a social...,A documentary film that sheds light on a socia...,A documentary film that sheds light on a socia...,A documentary film that sheds light on a socia...,A documentary film that sheds light on a socia...,A documentary film that sheds light on a socia...,A documentary film that sheds light on a socia...,A documentary film that sheds light on a socia...
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,team explorer venture depth ocean uncover anci...,Paris,1.290734e+07,2,1,team explorer venture depth ocean uncover anci...,...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,a team of explor ventur into the depth of the ...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...,A team of explorers ventures into the depths o...
20,QTIYFBNML,Documentary,02/08/2005,7.858370,documentary explores cutthroat world competiti...,Tokyo,3.478010e+07,1,0,documentary explores cutthroat world competiti...,...,This documentary explores the cutthroat world ...,This documentary explores the cutthroat world ...,thi documentari explor the cutthroat world of ...,This documentary explores the cutthroat world ...,This documentary explores the cutthroat world ...,This documentary explores the cutthroat world ...,This documentary explores the cutthroat world ...,This documentary explores the cutthroat world ...,This documentary explores the cutthroat world ...,This documentary explores the cutthroat world ...
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,historical drama depicting pivotal moment nati...,Tokyo,8.351821e+07,0,0,historical drama depicting pivotal moment nati...,...,A historical drama depicting a pivotal moment ...,A historical drama depicting a pivotal moment ...,a histor drama depict a pivot moment in a nati...,A historical drama depicting a pivotal moment ...,A historical drama depicting a pivotal moment ...,A historical drama depicting a pivotal moment ...,A historical drama depicting a pivotal moment ...,A historical drama depicting a pivotal moment ...,A historical drama depicting a pivotal moment ...,A historical drama depicting a pivotal moment ...
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,world ruled machine lone rebel fight free huma...,London,3.610468e+07,1,0,world ruled machine lone rebel fight free huma...,...,"In a world ruled by machines, a lone rebel fig...","In a world ruled by machines, a lone rebel fig...","in a world rule by machines, a lone rebel figh...","In a world ruled by machines, a lone rebel fig...","In a world ruled by machines, a lone rebel fig...","In a world ruled by machines, a lone rebel fig...",In a world ruled by machines a lone rebel figh...,"In a world ruled by machines, a lone rebel fig...","In a world ruled by machines, a lone rebel fig...",In a world ruled by machines a lone rebel figh...
23,QSUPSGILT,Sports,04/02/2002,7.216878,suspenseful horror film leave edge seat,New York,5.739973e+07,0,0,suspenseful horror film leave edge seat,...,A suspenseful horror film that will leave you ...,A suspenseful horror film that will leave you ...,a suspens horror film that will leav you on th...,A suspenseful horror film that will leave you ...,A suspenseful horror film that will leave you ...,A suspenseful horror film that will leave you ...,A suspenseful horror film that will leave you ...,A suspenseful horror film that will leave you ...,A suspenseful horror film that will leave you ...,A suspenseful horror film that will leave you ...
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,heartwarming romantic comedy two people find l...,Paris,8.872575e+07,1,0,heartwarming romantic comedy two people find l...,...,A heartwarming romantic comedy about two peopl...,A heartwarming romantic comedy about two peopl...,a heartwarm romant comedi about two peopl who ...,A heartwarming romantic comedy about two peopl...,A heartwarming romantic comedy about two peopl...,A heartwarming romantic comedy about two peopl...,A heartwarming romantic comedy about two peopl...,A heartwarming romantic comedy about two peopl...,A heartwarming romantic comedy about two peopl...,A heartwarming romantic comedy about two peopl...
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,heartwarming story dog brings two lonely peopl...,Tokyo,2.925571e+07,2,0,heartwarming story dog brings two lonely peopl...,...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,a heartwarm stori about a dog who bring two lo...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...,A heartwarming story about a dog who brings tw...
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,bumbling office worker accidentally becomes so...,Paris,NaN,2,0,bumbling office worker accidentally becomes so...,...,A bumbling office worker accidentally becomes ...,A bumbling office worker accidentally becomes ...,a bumbl offic worker accident becom a social m...,A bumbling office worker accidentally becomes ...,A bumbling office worker accidentally becomes ...,A bumbling office worker accidentally becomes ...,A bumbling office worker accidentally becomes ...,A bumbling office worker accidentally becomes ...,A bumbling office worker accidentally becomes ...,A bumbling office worker accidentally becomes ...
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,group social medium influencers trapped desert...,Los Angeles,7.847867e+07,2,0,group social medium influencers trapped desert...,...,A group of social media influencers trapped on...,A group of social media influencers trapped on...,a group of social media influenc trap on a des...,A group of social media influencers trapped on...,A group of social media influencers trapped on...,A group of social media influencers trapped on...,A group of social media influencers trapped on...,A group of social media influencers trapped on...,A group of social media influencers trapped on...,A group of social media influences trapped on ...
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,suspenseful thriller family trapped home dange...,New York,NaN,0,0,suspenseful thriller family trapped home dange...,...,A suspenseful thriller about a family trapped ...,A suspenseful thriller about a family trapped ...,a suspens thriller about a famili trap in thei...,A suspenseful thriller about a family trapped ...,A suspenseful thriller about a family trapped ...,A suspenseful thriller about a family trapped ...,A suspenseful thriller about a family trapped ...,A suspenseful thriller about a family trapped ...,A suspenseful thriller about a family trapped ...,A suspenseful thriller about a family trapped ...